body {
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    border: 1px dotted blue;
    padding: 20px;
    display: flex;
    text-align: center;
    background: #ddebf8;
    color: ff477e;
    border-bottom: 6px solid #d8cefe;
    margin: 0px auto;
}

